<div class="footer">
  <p>
    <span class="coyright">
      © 2016 <i class="icon-aixin"></i>
      <a href="https://hxtao.site/about/">HXTAO</a> |
      <a href="https://github.com/huangxutao/NB" target="_blank"><i class="icon-github"></i></a>
    </span>
    <span class="power">
      Powered by <a href="https://nodejs.org/">NodeJs</a>
    </span>
  </p>
</div>
