<div class="header">
  <div class="nav">
    <a href="/" class="current"><i class="icon-home"></i> Home</a>
    <a href="/"><i class="icon-archive"></i> Archive</a>
    <a href="/"><i class="icon-about"></i> About</a>
  </div>
</div>