{{!-- css文件 --}}
{{#extend "stylesheets"}}
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_65jv62efjjfhto6r.css">
  <link rel="stylesheet" href="/source/css/style.min.css">
{{/extend}}
{{!-- 主体内容 --}}
<div class="content archive tags">
  <div class="header">
    <h1><i class="icon-title"></i> {{title}}</h1>
  </div>
  <div class="go-back">
    <a href="javascript:history.go(-1);" title="返回上一页"><i class="icon-back"></i></a>
  </div>
  <div class="row">
    {{# each posts}}
      <p><a href="/post/?article={{this._id}}">{{this.title}}</a><span>{{this.date.publish}}</span></p>
    {{/each}}
  </div>
  <div class="footer">
    <p><i class="icon-pen"></i> Nothing seek, Nothing find.</p>
  </div>
</div>
{{!-- 底部版权信息 --}}
{{>footer}}
