<h1 class="wrapper-header"><i class="fa fa-refresh"></i> 更新博文</h1>
<div class="wrapper-content">
  <p><label for="post-title">标题：</label><input type="text" name="post-title" autofocus required id="post-title"></p>
  <p><label for="post-category">归类：</label><input type="text" name="post-category" required id="post-category"></p>
  <p><label for="post-tag">标签：</label><input type="text" name="post-tag" required id="post-tag"></p>
</div>
<div class="wrapper-footer">
  <button type="button" name="cancle">取 消</button>
  <button type="button" name="confirm">确 认</button>
</div>
