{{#extend "stylesheets"}}
  <link rel="stylesheet" href="../backend/css/do-manage.css">
  <link rel="stylesheet" href="../backend/css/font-awesome.min.css">
  <link rel="stylesheet" href="../backend/css/codemirror.css">
{{/extend}}
<!-- 提示信息 -->
<div class="status-msg hide-status-msg"><span></span></div>
<div class="contents">
  <div class="sidebar-slider"><i class="fa fa-book"><span class="tooltip">所有文章</span></i></div>
  <div class="toolbar">
    <a href="#action=new"><i id="new-post" class="fa fa-pencil"><span class="tooltip">新建博文</span></i></a>
    <a href="#action=publish"><i id="publish-post" class="fa fa-paper-plane tab-btn"><span class="tooltip">发布文章</span></i></a>
    <a href="#action=update"><i id="update-post" class="fa fa-refresh tab-btn hide"><span class="tooltip">更新博文</span></i></a>
    <a href="#action=draft"><i id="save-draft" class="fa fa-coffee tab-btn"><span class="tooltip">存为草稿</span></i></a>
    <i id="preview-post" class="fa fa-desktop"><span class="tooltip">预览</span></i>
    <i id="insert-expression" class="fa fa-smile-o tab-btn"><span class="tooltip">插入表情</span></i>
    <a href="#action=setting"><i id="setting" class="fa fa-cog tab-btn"><span class="tooltip">设置</span></i></a>
  </div>
  <!-- markdown 编辑区 -->
  <div class="markdown-content"></div>
  <!-- markdown 预览区 -->
  <div class="preview-content markdown-body"></div>
</div>
<!-- 侧栏 -->
<div class="sidebar">
  <div class="tab-btns"><span class="current">已发布</span><span>草稿</span></div>
  <div class="tab-pages">
    <p class="current-page">JavaScript 事件处理 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>DOM 事件流 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>JavaScript 2015 解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>Semantic UI 源码解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>BFC 的坑 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>hello world <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p class="get-more">获取更多</p>
    <p>DOM 事件流 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>JavaScript 2015 解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>Semantic UI 源码解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>BFC 的坑 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>hello world <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p class="get-more">获取更多</p>
    <p>DOM 事件流 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>JavaScript 2015 解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>Semantic UI 源码解读 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>BFC 的坑 <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>hello world <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
    <p>hello world <i class="fa fa-trash-o remove" title="移至回收站"></i></p>
  </div>
</div>
<!-- 弹出层 -->
<div class="modal">
  <div class="modal-content">
    <div class="item">
      {{> post_msg}}
    </div>
    <div class="item">
      {{> emojis}}
    </div>
    <div class="item">
      {{> setting}}
    </div>
  </div>
</div>
{{#extend "scripts"}}
  <script src="../backend/js/codemirror.js"></script>
  <script src="../backend/js/markdown.js"></script>
  <script src="../backend/js/marked.min.js"></script>
  <script src="../backend/js/tools.js"></script>
  <script src="../backend/js/do-manage.js"></script>
{{/extend}}
