{{#extend "stylesheets"}}
  <link rel="stylesheet" href="../backend/css/do-manage.css">
  <link rel="stylesheet" href="../backend/css/font-awesome.min.css">
  <link rel="stylesheet" href="../backend/css/codemirror.css">
{{/extend}}
<!-- 提示信息 -->
<div class="loader">
  <p>NB</p>
</div>
<div class="status-msg hide-status-msg hide"><span></span></div>
<div class="contents">
  <div class="sidebar-slider"><i class="fa fa-book"><span class="tooltip">所有文章</span></i></div>
  <div class="toolbar">
    <i id="new-post" class="fa fa-pencil"><span class="tooltip">新建博文</span></i>
    <i id="publish-post" class="fa fa-paper-plane tab-btn"><span class="tooltip">发布文章</span></i>
    <i id="update-post" class="fa fa-refresh tab-btn hide"><span class="tooltip">更新博文</span></i>
    <i id="preview-post" class="fa fa-desktop"><span class="tooltip">预览</span></i>
    <i id="insert-expression" class="fa fa-smile-o tab-btn"><span class="tooltip">插入表情</span></i>
    <!--<i id="setting" class="fa fa-cog tab-btn"><span class="tooltip">设置</span></i>-->
  </div>
  <!-- markdown 编辑区 -->
  <div class="markdown-content full-content"></div>
  <!-- markdown 预览区 -->
  <div class="preview-content markdown-body"></div>
</div>
<!-- 侧栏 -->
<div class="sidebar">
  <div class="tab-btns"><span class="current tab-btn">已发布</span><span class="tab-btn">草稿</span></div>
  <div class="tab-pages"><div class="tab-page"></div><div class="tab-page hide"></div></div>
</div>
<!-- 弹出层 -->
<div class="modal">
  <div class="modal-content">
    <div class="item">
      {{> post_msg}}
    </div>
    <div class="item">
      {{> emojis}}
    </div>
    <div class="item">
      {{> setting}}
    </div>
  </div>
</div>
{{#extend "scripts"}}
  <script src="../backend/js/all.min.js"></script>
{{/extend}}
